.box{
    background: white;
    margin-right: 10px;
    text-decoration: underline;
    text-decoration-color: red;
    border-radius: 10px;
    padding: 2px 5px 13px 20px;
    margin-bottom: 20px;
    background-image: radial-gradient(circle at -100%, red,  #eee 75%, #eee 75%);
    border: solid #b04d4d 1px;
    box-shadow: 5px 10px 10px #676f6f ;
}
.header{
    color: #cd3b27;
    height: 30px;
}