.container {
    display: flexbox;
    flex-wrap: wrap; 
    width: 78%;
    height: 1350px;
    background: #999999;
    border: dashed #6c7075 1px;
    border-radius: 20px;
    font-family: sans-serif;
    padding: 0 10px 0 0;
    box-shadow: 0px 0px 10px red ;
}
.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}